<div class="card-product">
    <div class="card-product-wrapper">
        <a href="{{ product.url }}" class="product-img">
            {% if product.images.size > 1 %}
            {{ product.images[0] |  image_url: width: 600 |  image_tag: sizes: "250,300,350,400,450,500,550,600", class: "lazyload img-product", alt: product.title }}
            {{ product.images[1] |  image_url: width: 600 |  image_tag: sizes: "250,300,350,400,450,500,550,600", class: "lazyload img-hover", alt: product.title }}
            {% elsif product.featured_image %}
            {{ product.featured_image |  image_url: width: 600 |  image_tag: sizes: "250,300,350,400,450,500,550,600", class: "lazyload", alt: product.title }}
            {% else %}
            {{ 'product-1' |  placeholder_svg_tag }}
            {% endif %}
        </a>
        <div class="list-product-btn">
            {% if product.has_only_default_variant %}
            <product-form>
                {% form 'product', product %}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                <input type="hidden" name="quantity" value="1">

                <button
                    type="submit"
                    name="add"
                    class="box-icon bg_white quick-add tf-btn-loading">
                    <span class="icon icon-bag"></span>
                    <span class="tooltip">Quick Add</span>
                </button>
                {% endform %}
            </product-form>
            {% else %}
            <quick-view data-product-url="{{ product.url }}">
                <button type="button" id="quick_view-{{ product.id }}"
                    class="box-icon bg_white quickview tf-btn-loading">
                    <span class="icon icon-bag"></span>
                    <span class="tooltip">Select Variants</span>
                </button>
            </quick-view>
            {% endif %}
            <a href="#"
                class="box-icon bg_white wishlist btn-icon-action">
                <span class="icon icon-heart"></span>
                <span class="tooltip">Add to Wishlist</span>
                <span class="icon icon-delete"></span>
            </a>
            <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft"
                class="box-icon bg_white compare btn-icon-action">
                <span class="icon icon-compare"></span>
                <span class="tooltip">Add to Compare</span>
                <span class="icon icon-check"></span>
            </a>
            <quick-view data-product-url="{{ product.url }}">
                <button type="button" id="quick_view-{{ product.id }}"
                    class="box-icon bg_white quickview tf-btn-loading">
                    <span class="icon icon-view"></span>
                    <span class="tooltip">Quick View</span>
                </button>
            </quick-view>
        </div>
        {%  unless product.has_only_default_variant %} 
        {% assign size_count = 0 %}
        {% for option in product.options_with_values %}
            {% if option.name == 'Size' %}
                {% for value in option.values %}
                    {% if value.available %}
                        {% assign size_count = size_count | plus: 1 %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        <div class="size-list">
            <span>{{ size_count | append: ' sizes available'}}</span>
        </div> 
        {% endunless %}
        
    </div>
    <div class="card-product-info">
        <a href="{{ product.url }}" class="title link">{{ product.title |  escape }}</a>
        {% unless product.price_varies %}
        <span class="price">{{ product.price | money }}</span>
        {% else %}
        <span class="price">{{ product.price_min | money |  prepend: 'From '  }}</span>
        {% endunless %}

        {% unless product.has_only_default_variant %} 
        <ul class="list-color-product">
            {% for option in product.options_with_values %}
                {% if option.name == 'Color' %}
                    {% for value in option.values %}
                        {% if value.available %}
                            <li class="list-color-item color-swatch{% if forloop.first %} active{% endif %}" data-color="{{ value | handleize }}">
                                <span class="tooltip">{{ value }}</span>
                                <span class="swatch-value bg_{{ value | handleize }} bg-color-{{ value | handleize }}"></span>
                                {% if value.variant.image %}
                                    {{ value.variant.image |  image_url: width: 500 |  image_tag: sizes: '200,300,400,500', class: 'lazyload', alt: 'card-product-image' }}
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
        {% endunless %}
    </div>
</div>