<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags |  join: ', '  }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; page "{{ current_page }}"{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    <!-- Favicon and Touch Icons  -->
     {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon |  image_url }}">
    <link rel="apple-touch-icon-precomposed" href="{{ settings.favicon |  image_url }}">
     {% endif %}

    {% if page_description %}
      <meta name="description" content="{{ page_description }}">
    {% endif %}

    {%  render 'meta-tags' %}

    <!-- font -->
     {% style %}
     @font-face {
      font-family: 'icomoon';
      src:  url({{ 'icomoon.eot' | asset_url }});
      src:  url({{'icomoon.eot' |  asset_url |  append: '?45zxck#iefix'}}) format('embedded-opentype'),
        url({{'icomoon.ttf' | asset_url }}) format('truetype'),
        url({{'icomoon.woff' |  asset_url }}) format('woff'),
        url({{'icomoon.svg' | asset_url}}) format('svg');
      font-weight: normal;
      font-style: normal;
      font-display: block;
      font-display: swap;    
    }
    {% endstyle %}
    <link rel="stylesheet" href="{{'fonts.css' |  asset_url}}">
    <!-- Icons -->
    <link rel="stylesheet" href="{{'font-icons.css' |  asset_url}}">
    <link rel="stylesheet" href="{{'bootstrap.min.css' |  asset_url}}">
    <link rel="stylesheet" href="{{'swiper-bundle.min.css' |  asset_url}}">
    <link rel="stylesheet" href="{{'animate.css' | asset_url}}">
    {{ 'styles.css' |  asset_url |  stylesheet_tag }}

     <!-- Javascript -->
    <script src="{{'bootstrap.min.js' | asset_url}}" defer></script>
    <script src="{{'jquery.min.js' | asset_url }}" defer></script>
    <script src="{{'swiper-bundle.min.js' | asset_url}}" defer></script>
    <script src="{{'carousel.js' | asset_url}}" defer></script>
    <script src="{{'bootstrap-select.min.js' | asset_url}}" defer></script>
    <script src="{{'lazysize.min.js' |  asset_url}}" defer></script>
    <script src="{{'bootstrap-select.min.js' |  asset_url}}" defer></script>
    <script src="{{'count-down.js' |  asset_url}}" defer></script>
    <script src="{{'wow.min.js' |  asset_url}}" defer></script>
    <script src="{{'multiple-modal.js' |  asset_url}}" defer></script>
    <script src="{{'main.js' |  asset_url}}" defer></script>

    {{ content_for_header }}

    {% style %} 
      {% for scheme in settings.color_schemes -%}
        {% assign scheme_classes = scheme_classes | append: ', .color-' | append: scheme.id %}
        {% if forloop.index == 1 -%}
          :root,
        {%- endif %}
        .color-{{ scheme.id }} {
          --color-background: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
        {% if scheme.settings.background_gradient != empty %}
          --gradient-background: {{ scheme.settings.background_gradient }};
        {% else %}
          --gradient-background: {{ scheme.settings.background }};
        {% endif %}

        {% liquid
          assign background_color = scheme.settings.background
          assign background_color_brightness = background_color | color_brightness
          if background_color_brightness <= 26
            assign background_color_contrast = background_color | color_lighten: 50
          elsif background_color_brightness <= 65
            assign background_color_contrast = background_color | color_lighten: 5
          else
            assign background_color_contrast = background_color | color_darken: 25
          endif
        %}

        --color-foreground: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
        --color-background-contrast: {{ background_color_contrast.red }},{{ background_color_contrast.green }},{{ background_color_contrast.blue }};
        --color-shadow: {{ scheme.settings.shadow.red }},{{ scheme.settings.shadow.green }},{{ scheme.settings.shadow.blue }};
        --color-button: {{ scheme.settings.button.red }},{{ scheme.settings.button.green }},{{ scheme.settings.button.blue }};
        --color-button-text: {{ scheme.settings.button_label.red }},{{ scheme.settings.button_label.green }},{{ scheme.settings.button_label.blue }};
        --color-secondary-button: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
        --color-secondary-button-text: {{ scheme.settings.secondary_button_label.red }},{{ scheme.settings.secondary_button_label.green }},{{ scheme.settings.secondary_button_label.blue }};
        --color-link: {{ scheme.settings.secondary_button_label.red }},{{ scheme.settings.secondary_button_label.green }},{{ scheme.settings.secondary_button_label.blue }};
        --color-badge-foreground: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
        --color-badge-background: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
        --color-badge-border: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
      }
      {% endfor %}     

      {{ scheme_classes | prepend: 'body' }} {
        color: rgba(var(--color-foreground), 0.75);
        background-color: rgb(var(--color-background));
      }
    {% endstyle %}

    <script>
      if (Shopify.designMode) {
        console.log("Design mode enabled");
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>

  </head>
  <body class="preload-wrapper">
    <div class="preload preload-container">
        <div class="preload-logo">
            <div class="spinner"></div>
        </div>
    </div>

    <div id="wrapper">
      {% sections 'aside-group' %}
      {% section 'cart-drawer' %}
      {% sections 'header-group' %}
      <main>
        {{ content_for_layout }}
      </main>
      {% sections 'footer-group' %}
    </div>
    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}'
      }
    </script>
  </body>
</html>
