
{{ 'drift-basic.min.css' | asset_url | stylesheet_tag }}
{{ 'photoswipe.css' | asset_url | stylesheet_tag }}

<script src="{{ 'drift.min.js' | asset_url }}" defer></script>
<script src="{{ 'photoswipe-lightbox.umd.min.js' | asset_url }}" defer></script>
<script src="{{ 'photoswipe.umd.min.js' | asset_url }}" defer></script>
<script src="{{ 'zoom.js' | asset_url }}" defer></script>
<script src="{{ 'variant-picker.js' | asset_url }}" defer></script>
<script src="{{ 'product-form.js' | asset_url }}" defer></script>
 {% style %}
.padding-{{ section.id }} {
    padding-top: {{ section.settings.padding_top |  append: 'px' }};
    padding-bottom: {{ section.settings.padding_bottom |  append: 'px' }};
}

@media screen and (max-width: 750px){
    .padding-{{ section.id }} {
        padding-top: {{ section.settings.padding_top | minus: 5 | append: 'px' }};
        padding-bottom: {{ section.settings.padding_bottom | minus: 5 | append: 'px' }};
    }
}
{% endstyle %}

<!-- default -->
<product-info class="flat-spacing-4 padding-{{ section.id }} color-{{ section.settings.color_scheme }} gradient" id="product" data-product-url="{{ product.url }}" data-section-id="{{ section.id }}">
    <div class="tf-main-product section-image-zoom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {% render 'media' %}
                </div>
                <div class="col-md-6">
                    <div class="tf-product-info-wrap position-relative">
                        <div class="tf-zoom-main"></div>
                        <div class="tf-product-info-list other-image-zoom">
                            {% content_for 'blocks' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tf-sticky-btn-atc">
        <div class="container">
            <div class="tf-height-observer w-100 d-flex align-items-center">
                <div class="tf-sticky-atc-product d-flex align-items-center">
                    <div class="tf-sticky-atc-img">
                        {% if product.featured_image %}
                            {{ product.featured_image |  image_url: width: 300 |  image_tag: sizes: '100,200,300', class: 'lazyloaded', alt: product.title}}
                        {% endif %}
                    </div>
                    <div class="tf-sticky-atc-title fw-5 d-xl-block d-none">{{ product.title | escape }}</div>
                </div>
                <div class="tf-sticky-atc-infos">
                    {% form 'product', product %}
                        <div class="tf-sticky-atc-variant-price text-center">
                            {% unless product.has_only_default_variant %}
                            <select class="tf-select" name="id">
                                {% for variant in product.variants %}
                                <option value="{{ variant.id }}"{% if variant.id == product.selected_or_first_available_variant.id %} selected="selected"{% endif %}>{{ variant.title |  escape }} - {{ variant.price | money }}</option>
                                {% endfor %}
                            </select>
                            {% else %}
                            <input type="hidden" value="{{ product.selected_or_first_available_variant.id }}" name="id">
                            {% endunless %}
                        </div>
                        <div class="tf-sticky-atc-btns">
                            <div class="tf-product-info-quantity">
                                <div class="wg-quantity">
                                    <span class="btn-quantity minus-btn">-</span>
                                    <input type="text" name="quantity" value="1">
                                    <span class="btn-quantity plus-btn">+</span>
                                </div>
                            </div>
                            <button type="submit" class="tf-btn btn-fill radius-3 justify-content-center fw-6 fs-14 flex-grow-1 animate-hover-btn btn-add-to-cart"{% unless product.selected_or_first_available_variant.available %} disabled{% endunless %}>
                                {% unless product.selected_or_first_available_variant.available %}
                                <span>Sold Out</span>
                                {% else %}
                                <span>Add to cart</span>
                                {% endunless %}
                            </button>
                        </div>
                    {% endform %}
                </div>
            </div>
        </div>
    </div>
</product-info>
<!-- /default -->
{% schema %}
    {
        "name": "Main product",
        "class": "main-product",
        "settings": [
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Color scheme",
                "default": "scheme-1"
            },
            {
                "type": "header",
                "content": "Section padding"
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "Padding top",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "px",
                "default": 15
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "Padding bottom",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "px",
                "default": 15
            }
        ],
        "blocks":[
            {
                "type": "@app"
            },
            {
                "type": "@theme"
            },
            {
                "type": "_product-title"
            },
            {
                "type": "_product-tag"
            },
            {
                "type": "_product-price"
            },
            {
                "type": "_product-visitors"
            },
            {
                "type": "countdown"
            },
            {
                "type": "_product-variants"
            },
            {
                "type": "_product-quantity"
            },
            {
                "type": "_product-buttons"
            },
            {
                "type": "_product-extra-info"
            },
            {
                "type": "_product-info-box"
            },
            {
                "type": "_product-guarantee"
            }
        ]
    }
{% endschema %}
